<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <%= form_header "New voting session" %>

    <%= render "users/form", user: @user %>

    <hr />

    <%= render "shared/link_to_election_results" %>
  </div>
</div>
