<%= form_with(model: user, html: { class: "space-y-6" }) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :email, class: center_input_label_classes %>
    <div class="mt-2">
      <%= form.text_field :email, class: center_input_classes %>
    </div>
  </div>

  <div>
    <%= form.label :postal_code, class: center_input_label_classes %>
    <%= form.text_field :postal_code, class: center_input_classes %>
  </div>

  <div>
    <%= form.submit(value: "Continue to vote", class: center_button_classes) %>
  </div>
<% end %>
