<% candidate_submit_label ||= "Save candidate" %>
<%= form_with(model: candidate, html: { class: 'space-y-6' }) do |form| %>
  <% if candidate.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(candidate.errors.count, "error") %> prohibited this candidate from being saved:</h2>

      <ul>
        <% candidate.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :full_name, style: "display: block" %>
    <%= form.text_field :full_name, placeholder: "Enter name..." %>
  </div>

  <div>
    <%= form.submit(value: candidate_submit_label, class: button_classes) %>
  </div>
<% end %>
