<% content_for :form_body do %>
  <p style="color: green"><%= notice %></p>

  <div class="relative space-y-6 overflow-x-auto">
    <%= form_header "Election results" %>

    <table id="votes" class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-200 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="px-10 py-3">Candidate</th>
        <th scope="col" class="px-2 py-3">Votes</th>
      </tr>
      </thead>
      <tbody>
      <% @votes.each do |candidate_summary| %>
        <tr class="bg-white border-b dark:bg-gray-800 white:border-gray-700">
          <th scope="row" class="px-10 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
            <%= candidate_summary.full_name %>
          </th>
          <td class="px-2 py-4"><%= candidate_summary.total_votes %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>

  <%= button_to "New vote", new_vote_path,
                class: "#{button_classes}#{user_has_voted? ? ' cursor-not-allowed' : ''}",
                disable: user_has_voted?, method: :get %>
  <% unless @current_session.nil? %>
    <%= button_to "Done", session_url(@current_session), class: button_classes, method: :delete %>
  <% end %>
<% end %>
