<!DOCTYPE html>
<html class="h-full bg-gray-100">
  <head>
    <title>Voting Machine</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application" %>
    <%= action_cable_meta_tag %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body class="h-full">
    <%= render 'shared/navbar' %>

    <main>
      <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
        <% if content_for? :form_body %>
          <%= render 'shared/centered_form' %>
        <% else %>
          <%= yield %>
        <% end %>
      </div>
    </main>
  </body>
</html>
